/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
openspec/
/build-profile.json5
/docs/tmp/
/docs/ui/
*.dc.html
/.vscode
/docs/specs